/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background: #d3a1c8;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background 0.3s, color 0. ;
}

/* Container principal */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 200px rgb(80, 1, 133);
}

/* Modo escuro */
.dark-mode {
    background: #121212;
    color: white;
}

.dark-mode .container {
    background: #1e1e1e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Botão de alternância de modo */
button.mode-toggle {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    border: none;
    background: #02060a;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button.mode-toggle:hover {
    background: #0051ff;
}

/* Estilização do formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: vertical;
    height: 100px;
}

button[type="submit"] {
    margin-top: 15px;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

button[type="submit"]:hover {
    background: #000000;
}
#arquivo {
    border-radius: 8px;
}
